body {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 150px;
    margin-top: -10px;
    background-color: #FFF8F3;
    margin-right: 30px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav h3 {
    font-size: 45px;
    font-weight: 800;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(71, 72, 72);
}

header nav ul li button {
    background-color: tomato;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}

.banner {
    display: flex;
    margin-top: 25px;
    background-image: url(./Image/header_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h4 {
    font-size: 40px;
    color: lightslategray;
    margin-top: 50px;
}

.banner h1 {
    font-size: 70px;
    margin-top: -40px;
}

.banner p {
    margin-top: -30px;
}

.banner .button {
    background-color: tomato;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}

.img {
    margin-left: -150px;
    margin-top: -760px;
}

.About {
    margin: 200px;
}

.About h3 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.About p {
    text-align: center;
    font-size: 19px;
    color: rgb(99, 101, 101);
}

.About .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.About .main strong {
    display: block;
    margin-bottom: 20px;
}

.About .main small {
    font-size: 15px;
}

.About .Do {
    margin-top: 300px;
}